/* This body rule causes all text in the body of the html file to be displayed in a comic sans font in a cursive format and sets the size of the text as 16 pixels */
body {
	font: 16px "Comic Sans MS", cursive;
	background: url("Blue-rule.png");
}

/*paragraphs */
p {
	color: #00f;
}

p:before{
  content: url("Yellow-pin.png");
}

#first {
	font-style: italic;
}

/* initial letters */
strong {
	background-color: #ddf;
	color: #f00; 
	font: 200% serif;
}

.spinach {
	color: #080;
}

/* numbered paragraphs */
body {counter-reset: headnum;}
h3 {
	border-top: 1px solid gray;
	clear: left;
}
h3:before {
  content: "(" counter(headnum, upper-latin) ") ";
  counter-increment: headnum;
}
h3.numbered {counter-reset: mynum;}
 
p.numbered:before {
  content: counter(mynum) ": ";
  counter-increment: mynum;
  font-weight: bold;
  
}

p.numbered {
	color: #000;
}

li {
	list-style: lower-roman;
	margin-bottom: 8px;
}

ul, #numbered {
  border: 1em solid #69b;
  padding-right:0.5em;
  float: left;
}

#fixed-pin  {
  position:fixed;
  top: 3px;
  right: 3px;
}

